* {
    margin: 0;
    padding: 0;
    font-family: "open Sans", sans-serif;
    box-sizing: border-box;
    background-color:black ;
    color: white;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    
}
.container h1{
    font-size: 5rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -15rem;

}
.container .clockcontainer{
    padding: 2rem;
    border-radius: 2rem;
    border: 1.5px solid #FFD700 ;
    
}
.container .clockcontainer .clock{
    display: flex;
    font-size: 7rem;
    font-weight: 900;
    gap: 5rem;

}
.container .clockcontainer .clock p:nth-child(odd){
    border: 1.5px solid #FFD700 ;
    padding: 1rem;
    border-radius: 2rem;
}

.container .clockcontainer .clock span{
    border: 1.5px solid #FFD700 ;
    padding: 1rem;
    border-radius: 2rem;
}

@media screen and (min-width:1024px) and (max-width:1410px){    
.container{
    gap: 5rem;
}
.container .clockcontainer{
    padding: 1rem;
}
.container h1{
    font-size: 5rem;
    margin-top: -15rem;

}
.container .clockcontainer .clock{
    font-size: 5rem;
    font-weight: 900;
    gap:4rem;

}
}

@media screen and (min-width:768px) and (max-width:1023px){    
    .container{
        gap: 5rem;
    }
    .container .clockcontainer{
        padding: 1rem;
    }
    .container h1{
        font-size: 5rem;
        margin-top: -15rem;
    
    }
    .container .clockcontainer .clock{
        font-size: 5rem;
        font-weight: 700;
        gap:1.5rem;
    
    }
    }

    @media screen and (min-width:425px) and (max-width:767px){    
        .container{
            gap:4rem;
        
        }
        .container .clockcontainer{
            padding: 1rem;
        }
        .container h1{
            font-size: 3rem;
        }
        .container .clockcontainer .clock{
            font-size:2.4rem;
            font-weight: 600;
            gap:.5rem;
        
        }
        .container .clockcontainer .clock p:nth-child(odd){
            border: 1.5px solid #FFD700 ;
            padding: 1rem;
            border-radius:1rem;
        }
        
        .container .clockcontainer .clock span{
            border: 1.5px solid #FFD700 ;
            padding: 1rem;
            border-radius: 1rem;
        }
        }


        @media screen and (min-width:375px) and (max-width:424px){    
            .container{
                gap:4rem;
            
            }
            .container .clockcontainer{
                padding: 1rem;
                border-radius: 1rem;
            }
            .container h1{
                font-size: 3rem;
            }
            .container .clockcontainer .clock{
                font-size:2.4rem;
                font-weight: 600;
                gap:.5rem;
            
            }
            .container .clockcontainer .clock p:nth-child(odd){
                border: 1.5px solid #FFD700 ;
                padding:.5rem;
                border-radius:.5rem;
            }
            
            .container .clockcontainer .clock span{
                border: 1.5px solid #FFD700 ;
                padding:.5rem;
                border-radius:.5rem;
            }
            }

            @media screen and (min-width:300px) and (max-width:374px){    
                .container{
                    gap:3rem;
                
                }
                .container .clockcontainer{
                    padding:.5rem;
                    border-radius:.3rem;
                }
                .container h1{
                    font-size: 2rem;
                }
                .container .clockcontainer .clock{
                    font-size:2rem;
                    font-weight: 600;
                    gap:.5rem;
                
                }
                .container .clockcontainer .clock p:nth-child(odd){
                    border: 1.5px solid #FFD700 ;
                    padding:.5rem;
                    border-radius:.3rem;
                }
                
                .container .clockcontainer .clock span{
                    border: 1.5px solid #FFD700 ;
                    padding:.5rem;
                    border-radius:.3rem;
                }
                }